/* Ticker Styling */
#ticker-wrapper.has-js {}
#ticker {
    width: 500px;
    height: 23px;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #CE1100;
}
#ticker-title {
    padding-top: 9px;
    color: #990000;
    font-weight: bold;
    text-transform: uppercase;
}
#ticker-content {
    position: absolute;
    color: #fff;
    font-family: "font_rg";
    font-size: 14px;
    line-height: 27px;
    height: 20px;
}
#ticker-content a {    text-decoration: none;	color: #fff;font-family: arial;font-size: 14px;}
#ticker-swipe {padding-top: 9px;position: absolute;top: 0px;background-color: #CE1100;display: block;width: 800px;height: 23px; }
#ticker-swipe span {margin-left: 1px;background-color: #CE1100;border-bottom: 1px solid #fff;height: 12px;width: 7px;display: block;}
#ticker-controls {padding: 8px 0px 0px 0px;list-style-type: none;float: left;}
#ticker-controls li {padding: 0px;margin-left: 5px;float: left;cursor: pointer;height: 16px;width: 16px;display: block;}
#ticker-controls li#play-pause {background-image: url('http://en.aswatmasriya.com/assets/images/controls.png');background-position: 32px 16px;}
#ticker-controls li#play-pause.over {background-position: 32px 32px;}
#ticker-controls li#play-pause.down {background-position: 32px 0px;}
#ticker-controls li#play-pause.paused {background-image: url('http://en.aswatmasriya.com/assets/images/controls.png');	background-position: 48px 16px;}
#ticker-controls li#play-pause.paused.over {background-position: 48px 32px;}
#ticker-controls li#play-pause.paused.down {background-position: 48px 0px;}
#ticker-controls li#prev {background-image: url('http://en.aswatmasriya.com/assets/images/controls.png');background-position: 0px 16px;		}
#ticker-controls li#prev.over {background-position: 0px 32px;		}
#ticker-controls li#prev.down {background-position: 0px 0px;		}
#ticker-controls li#next {background-image: url('http://en.aswatmasriya.com/assets/images/controls.png');	background-position: 16px 16px;	}
#ticker-controls li#next.over {background-position: 16px 32px;	}
#ticker-controls li#next.down {	background-position: 16px 0px;}
.js-hidden {display: none;}
#no-js-news {padding: 10px 0px 0px 45px; color: #F8F0DB;}
.left #ticker-swipe {left: 80px;}
.left #ticker-controls, .left #ticker-content, .left #ticker-title, .left #ticker {float: left;}
.left #ticker-controls {padding-left: 6px;}
.right #ticker-swipe {right: 80px;}
.right #ticker-controls, .right #ticker-content, .right #ticker-title, .right #ticker {float: left;}
.right #ticker-controls {padding-right: 6px;}